.nav-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 10;
}

.toolbar {
  width: 100%;
  padding: 1vw 2vw 0vw 2vw;
  text-align: center;
  justify-content: space-between;
}

.menu {
  gap: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.set-font {
  font-family: var(--font-family);
  font-weight: var(--weight);
}
.logo {
  color: var(--color);
  cursor: pointer;
}

.items {
  color: var(--color);
}

.home-icon{
  padding: 6px;
  color: var(--background-color);
  background-color: var(--background-box);
  border-radius: 5vw;
}

.order {
  color: var(--background-color);
  background-color: var(--background-box);
  font-size: 13px;
  padding: 5px 10px 5px 10px;
  border-radius: 2px;
}
.shopping-cart {
  position: relative;
}
/* style shopping cart icon */
.cart-icon {
  color: var(--background-color);
  background-color: var(--background-box);
  padding: 6px;
  cursor: pointer;
  border-radius: 20px;
}
#counter {
  display: none;
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(35%, 100%);
  width: 20px;
  height: 20px;
  background-color: var(--green-box);
  color: var(--background-color);
  border-radius: 10px;
}


@media (max-width: 730px) {
  .menu .items{
    display: none;
  }
}
@media (max-width: 1030px) {
  .logo {
    display: none;
  }
}
