* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  outline: none;
  border: none;
}
html {
  /* height: 100%; */
  user-select: none;
  -webkit-user-select: none;
}

:root {
  --background-color: #1e1e1e;
  --color: #e9e3dc;
  --background-box: #b3a0cd;
  --green-box: #d1ef53;
  --font-family: "Bowlby One", sans-serif;
  --weight: bold;
}

body {
  background-color: var(--background-color);
  /* height: 100%; */
}
/*boc about style*/
.title {
  color: var(--color);
  /* font-size: 70px; */
  font-size: 4.4vw;
  text-align: center;
  margin: 0;
  line-height: 1em;
}
#box_title {
  position: absolute;
  /* transform: translate(-770px,-120px); */
  transform: translate(-50vw, -120px);
  /* transform: translate(-50%, -50%); */
  /* top: 27%; */
  top: 210px;
  left: 50%;
  width: 100%;
}

#img_burger {
  position: relative;
  z-index: 2;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 14vw; */
  margin-top: 210px;
  width: 90vw;
  max-inline-size: 100%;
  /* aspect-ratio: 2/1; */
  object-fit: contain;
  block-size: auto;
}

.about {
  display: block;
  padding: 0.5vw;
  color: var(--background-color);
  background-color: var(--color);
  width: 9vw;
  border: var(--background-color) solid 0.2vw;
  font-size: 1.2vw;
}

#box_about {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 70%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--green-box);
  height: 13vw;
  border-radius: 2vw;
  margin-bottom: 2vw;
}

#title_about {
  font-family: var(--font-family);
  font-size: clamp(1rem, 2vw, 2rem);
  line-height: 2.5vw;
  font-size: 2vw;
}

#title_box_about {
  margin-left: 8vw;
  width: 30%;
  text-align: start;
}

.about-description {
  width: 70%;
  margin-bottom: 1vw;
  font-size: 1.3vw;
}

div > #text_about {
  width: 50%;
}
/*style product components parent*/

#parent_box {
  margin-top: 10vw;
  margin-bottom: 5vw;
  padding: 0vw 2vw 0vw 0vw;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

#text-center-site {
  padding: 1vw;
  text-align: center;
  color: var(--green-box);
  font-size: 5vw;
  margin-bottom: 2vw;
}
#img-friends {
  display: block;
  margin: auto;
  width: 70%;
  margin-bottom: 10vw;
}

@media (max-width: 1240px) {
  #img_burger {
    margin-top: 200px;
  }
}
/* @media (max-width: 940px) {
  #img_burger {
    display: none;
  }
  #box_title {
    position: static;
    transform: translate(0, 0);
    margin: 8vw 0 8vw 0;
  }
  .title {
    font-size: 6vw;
  }
} */
@media (max-width: 940px) {
  #box_title {
    display: none;
  }
  #img_burger {
    position: static;
    margin: 8vw auto 8vw auto;
  }
}
@media (max-width: 230px) {
  body {
    display: none;
  }
}

.box-order{
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content:flex-end; */
  align-items: center;
  /* text-align: center; */
}
.order-pizza {
  display: block;
  margin: 50px auto;
  width: 22rem;
  max-inline-size: 100%;
}

.box-select-pizza {
  width: 50%;
  position: fixed;
  bottom: 0;
  padding: 20px;
  background-color: var(--background-box);
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  border-radius: 1vw 1vw 0 0;
  box-shadow: 1px 1px 5px 0px var(--background-box),
    -1px -1px 5px 0px var(--background-box);
}
.add-to-cart {
  position: fixed;
  bottom: 10rem;
  padding: 1rem;
  border-radius: 5px;
  /* font-size: 1vw; */
  font-family: var(--font-family);
  font-weight: var(--weight);
  background-color: var(--green-box);
  color: var(--background-color);
  color: var(--background-color);
  transform: translateX(-22vw);
}
.select-pizza {
  /* display: block; */
  margin-right: 1.2vw;
  width: 7rem;
  max-inline-size: 100%;
  transition: all 1s linear;
}

.select-pizza:last-child {
  margin-right: 0;
}
.select-pizza:hover {
  transform: scale(1.2);
}
@media (max-width: 1000px) {
  .box-order{
    display: block;
  }
  .box-select-pizza{
    width: 100%;
  }
  .order-pizza{
    width: 17rem;
  }
  .add-to-cart{
    left: 0.5rem;
    transform: none;
  }
}