img[alt="ham"] {
  width: 32vw;
  display: block;
}

.box1 {
  color: var(--color);
  display: block;
  position: absolute;
  /* bottom: 3%; */
  bottom: 2vw;
  /* left: 35%; */
  left: 11vw;
  /* transform: translate(-50%, -50%); */
  transform: translate(-10vw, -3vw);
  background-color: var(--background-color);
  width: 20vw;
  border-radius: 1vw;
  padding: 1vw 0vw 1vw 2vw;
  font-family: var(--font-family);
  z-index: 100;
  font-size: 1.2vw;
}

.box1 > a {
  color: var(--background-box);
}

.product {
  position: relative;
  margin-right: 2vw;
}
@media (max-width: 500px) {
  img[alt="ham"] {
  width: 98vw !important;
 }
 .box1{
  width: 61.3vw;
  font-size: 3.7vw;
  bottom: 5vw;
  left: 13vw;
  border-radius: 1.5vw;
 }
}